
.item{
    color: #72bdfa;
    display:flex;
    align-items: center;
    margin-bottom:10px;
}
.item img{
    width:50px !important;
    height: 50px;
    object-fit: cover;
    border-radius:50%;
    margin-right:10px;
}
.message{
    max-width:600px;
    word-wrap: break-word;
    color:black;
}
.message_block{
    display:flex;
    flex-direction: column;

}