.app-wrapper {
    display: grid;
    grid-template-rows: 60px 1fr 4fr;
    grid-template-columns: 2fr 10fr;
    /*grid-gap: 10px;*/
    width: 1200px;
    margin: 0 auto;
    grid-template-areas: "h h"
                         "n c"
                         "f c";
}

.app-wrapper-content {
    grid-area: c;
    background: #fff;
    padding: 20px 0px 0px 20px;
}




